<html>
  <head>
    <title>Flask + Celery Examples</title>
    <style>
        .progress {
            width: 100%;
            text-align: center;
        }
    </style>
  </head>
  <body>
    <h1>Flask + Celery Examples</h1>
  <form id="upload-file" method="post" enctype="multipart/form-data">
      <fieldset>
          <input name="url_text" type="url" value="{{link}}">
          <input name="file" type="file" accept="text/csv">
      </fieldset>
      <fieldset>
          <button id="upload-file-btn" type="button">Upload</button>
      </fieldset>
  </form>
    <div id="progress"></div>
    <hr>
    <h2>Example 2: Long running task with progress updates</h2>
    <!--<button onclick="start_long_task();">Start Long Calculation</button><br><br>-->


    <script src="//cdnjs.cloudflare.com/ajax/libs/nanobar/0.2.1/nanobar.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>
        status_url = localStorage.getItem('status_url')
        if (status_url)
        {
            document.getElementById('upload-file').hidden = true;
            div = $('<div class="progress"><div></div><div>0%</div><div>...</div><div>&nbsp;</div></div><hr>');
            $('#progress').append(div);
            var nanobar = new Nanobar({
                bg: '#44f',
                target: div[0].childNodes[0]
            });
            update_progress(status_url, nanobar, div[0])
        }
        function start_upload_file() {
            // add task status elements
            document.getElementById('upload-file').hidden = true;
            div = $('<div class="progress"><div></div><div>0%</div><div>...</div><div>&nbsp;</div></div><hr>');
            $('#progress').append(div);
            // create a progress bar
            var nanobar = new Nanobar({
                bg: '#44f',
                target: div[0].childNodes[0]
            });
            // send ajax POST request to start background job
            var form_data = new FormData($('#upload-file')[0]);
            $.ajax({
                        type: 'POST',
                        url: '/uploadfile',
                        data: form_data,
                        contentType: false,
                        cache: false,
                        processData: false,
                        async: false,
                      success: function(data, status, request) {
                        status_url = request.getResponseHeader('Location');
                        window.localStorage.setItem('status_url', status_url);
                        update_progress(status_url, nanobar, div[0]);
                        }
                    });
        }
        function update_progress(status_url, nanobar, status_div) {
            // send GET request to status URL
            $.getJSON(status_url, function(data) {
                // update UI
                percent = parseInt(data['current'] * 100 / data['total']);
                nanobar.go(percent);
                $(status_div.childNodes[1]).text(percent + '%');
                $(status_div.childNodes[2]).text(data['status']);
                if (data['state'] != 'PENDING' && data['state'] != 'PROGRESS') {
                    if ('result' in data) {
                        // show result
                        $(status_div.childNodes[3]).text('Result: ' + data['result']);
                    }
                    else {
                        // something unexpected happened
                        $(status_div.childNodes[3]).text('Result: ' + data['state']);
                    }
                    window.localStorage.removeItem('status_url')
                }
                else {
                    // rerun in 2 seconds
                    setTimeout(function() {
                        update_progress(status_url, nanobar, status_div);
                    }, 2000);
                }
            });
        }
        $(function() {
            $('#upload-file-btn').click(start_upload_file);
        });
    </script>
  </body>
</html>