<!--suppress XmlHighlighting, XmlHighlighting -->
<html>
  <head>
    <title>Upload CSV file</title>
    <style>
        .progress{
            width: 100%;
            text-align: center;
        }
    </style>
  </head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/static/js/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <body>

    <h1>Форма загрузки файла</h1>

    <!--Форма загрузки файла. Кнопка выбора файла скрыта и ей поведение эмулируется через кнопку Обзор -->
    <div id="alert_container_fail"></div>
  <form class="form-inline" id="upload_file" method="post" enctype="multipart/form-data">

             <label for="filename">Файл или ссылка:</label>
            <div class="input-group" style="width:100%">
              <input type="text" class="form-control" name="url_text"  value="" id="filename" placeholder="example.csv or example.zip.csv">
              <input type="file" name="file"  id="upload" style="display:none">
              <span class="input-group-btn">
              <input type="button" class="btn btn-default" value="Обзор" onclick="document.getElementById('upload').click();" id="browse" />
               <button id="upload_file_btn" class="btn btn-default" type="button" >Загрузить файл</button>
              </span>




          </div>
  </form>
    <!--Прогресс бар-->
    <div class="progress  hidden" id="progressdiv">
        <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 0%; min-width:2em;" id="progressbar">

        </div>
    </div>
    <!--Контейнер для сообщения об успешном завершении задачи-->
    <div id="alert_container_success"></div>

    <button id="refresh" type="button"  class="btn btn-primary hidden" >Загрузить новый файл</button>


    <script>
//При загрузке добавляем функцию для копирования имени файла в поле ввода
upload.onchange = uploadOnChange;
function uploadOnChange() {
	var name = this.value;
	var lastIndex = name.lastIndexOf('\\');
	if (lastIndex >= 0) {
		name = name.substring(lastIndex + 1);
	}
	filename.value = name
}
//Проверяем переменную, в которой хранится информация, о том запускалась ли задача на этой странице
status_url = sessionStorage.getItem('status_url')
	//Если задача запущена, то устанавливаем значения прогрессбара и блокируем кнопки
	if (status_url) {

		filename.disabled = true;
		browse.disabled = true;
		upload_file_btn.disabled = true;
		progressdiv.classList.remove('hidden');
		percent = sessionStorage.getItem('percent')

			progressbar.style.setProperty('width', percent + '%')
			progressbar.innerText = percent + '%'
			update_progress(status_url, progressbar)
	}

function start_upload_file() {
	//Функция отправки запроса к серверу. При получении запроса сервер ставит задачу в очередь
	filename.disabled = true;
	browse.disabled = true;
	upload_file_btn.disabled = true;
	progressdiv.classList.remove('hidden');

	var xhr = new XMLHttpRequest();
	var form_data = new FormData($('#upload_file')[0]);
	url_text = filename.value;
	form_data.set('url_text', url_text)

	var percentFactor = 0;
	if (upload.files[0]) {
		percentFactor = 50;
	}
	//Отображение процесса закачки файла на сервер
	xhr.upload.onprogress = function (event) {
		percent = parseInt(event.loaded * percentFactor / event.total);
		sessionStorage.setItem('percent', percent)
		progressbar.style.setProperty('width', percent + '%')
		progressbar.innerText = percent + '% ' + 'Загрузка файла'
	}
	//Если сервер принимает задачу, то запускаем функцию периодического обновления данных о состоянии задачи.
	xhr.onload = xhr.onerror = function (event) {
		if (this.status == 202) {
			status_url = this.getResponseHeader('Location');
			sessionStorage.setItem('status_url', status_url);
			update_progress(status_url, progressbar);
		} else {
			//Если вернулась ошибка, то отображаем сообщение
			upload_alert.append('<div class="alert alert-danger alert-dismissible" role="alert" style="width:50%" id="upload_alert">\
				                                                      <button type="button" class="close"\
				                                                       data-dismiss="alert" aria-label="Close">\
				                                                    <span aria-hidden="true">&times;</span></button>\
				                                                ' + this.getResponseHeader('err_mess') + '</div>')
			$('#upload_alert').on('closed.bs.alert', function () {
				upload_file.reset();
				filename.disabled = false;
				browse.disabled = false;
				progressdiv.classList.add('hidden')
				upload_file_btn.disabled = false;
			})

		}
	}

	xhr.open('POST', '/uploadfile', async = true)
	xhr.send(form_data);
}
function update_progress(status_url, progressbar) {
	// Функция получения данных о состоянии задачи и обновления прогрессбара
	$.getJSON(status_url, function (data) {

		if (data['state'] == 'PROGRESS' || data['state'] == 'PENDING') {
			if (data['state'] == 'PENDING') {
				percent = sessionStorage.getItem('percent')
			} else {
				percent = parseInt(data['current'] * 100 / data['total']);
			}
			sessionStorage.setItem('percent', percent)
			progressbar.style.setProperty('width', percent + '%');
			progressbar.innerText = percent + '% ' + data['status']
				setTimeout(function () {
					update_progress(status_url, progressbar);
				}, 2000);
		}
		if (data['state'] == 'SUCCESS' || data['state'] == 'FAILURE') {
		    //При успешном выполнении задачи удаляем информацию о ней из локального хранилища
			sessionStorage.removeItem('percent', percent)
			sessionStorage.removeItem('status_url')
			document.getElementById('refresh').classList.remove('hidden');
			if (data['state'] == 'SUCCESS') {
			    $(progressbar).attr('testattribute', 'suc')
				progressbar.style.setProperty('width', '100%');
				progressbar.innerText = '100%'
					//Отображение сообщения о успешном заверщении задачи
					$('#alert_container_success').append('<div class="alert alert-success alert-dismissible" 		role="alert" style="width:50%" id="upload_alert">\
						                                                        <button type="button" class="close"\
						                                                         data-dismiss="alert" aria-label="Close">\
						                                                      <span aria-hidden="true">&times;</span></button>\
						                                                  ' + data['status'] + '</div>');
			}
			if (data['state'] == 'FAILURE') {
				//Отображение сообщения об ошибке при выполнении задачи
				$(alert_container_fail).attr('testattribute', 'fail')
				document.getElementById('progressdiv').classList.add('hidden');
				$('#alert_container_fail').append('<div class="alert alert-danger alert-dismissible" role="alert" style="width:50%" id="upload_alert">\
					                                                        <button type="button" class="close"\
					                                                         data-dismiss="alert" aria-label="Close">\
					                                                      <span aria-hidden="true">&times;</span></button>\
					                                                  ' + data['status'] + '</div>');

			}

		}

	});
}
//Старт загрузки файла
$(function () {
	$('#upload_file_btn').click(start_upload_file);
})
//Кнопка "Загрузить новый файл" очищает форму и разблокирует кнопки
$(function () {
	$('#refresh').click(function () {
		$('#alert_container_fail').empty()
		$('#alert_container_success').empty()
		progressdiv.classList.add('hidden');
		refresh.classList.add('hidden');
		progressbar.style.setProperty('width', '0%');
		upload_file.reset();
		filename.disabled = false;
		browse.disabled = false;
		upload_file_btn.disabled = false;
	});

});
    </script>
  </body>
</html>